/* Global reset for padding and margins */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #161b22;
  color: #e2e2e2;
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: center; /* Center horizontally */
  height: 100vh;
  overflow: auto; /* Allows scrolling if needed */
}

/* Task form styling */
#task-form {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Tasks container styling */
#tasks {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

/* Individual task styling */
.task {
  border: 1.5px solid #ccc;
  margin: 5px;
  width: auto;
  text-align: left;
  border-radius: 10px;
  border-color: rgb(255, 179, 179);
  background-color: #513232;
  max-width: 300px;
  word-wrap: break-word;
  min-width: 140px;
  color: hsl(0, 100%, 90%);
}

/* Completed task styling */
#completed {
  border-color: rgb(179, 255, 179);
  background-color: #3f5132;
  color: #dfffc5;
}

/* Popup styling */
#popup {
  background-color: #e2e2e2;
  color: #161b22;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: #e2e2e2;
  border: 1.5px solid #e2e2e2;
}

/* Popup header and content styles */
#popupHeader {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

#popupContent {
  padding: 10px 15px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

/* Close button for the popup */
#popupCloseBtn {
  background: transparent;
  border: none;
  padding: 10px;
  font-size: 19px;
  font-weight: 650;
}

/* Task Form Section */
#taskFormSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 40vw; /* Set to 30vw */
  height: 100vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  border-right: 2px double rgba(208, 208, 208, 0.272);
}

#taskFormSection input,
#addBtn {
  width: 100%;
  height: auto;
  padding: 10px 30px;
  background: transparent;
  border: 1.5px solid #e2e2e2;
  background-color: #e2e2e241;
  border-radius: 10px;
  color: #e2e2e2;
}

/* #taskFormSection h1 {
  margin-bottom: 35px;
} */

#addBtn {
  background-color: #e2e2e2;
  border-color: #161b22;
  color: #161b22;
  font-weight: 600;
}

#taskFormSection input::placeholder {
  color: #e2e2e2;
}

/* Tasks Section */
#tasksSection {
  position: fixed;
  top: 0;
  right: 0;
  width: 60vw; /* Set to 70vw */
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
#taskSection::-webkit-scrollbar {
  display: none;
}

.updateBtn,
.deleteBtn {
  width: 100%;
  height: 30px;
  background: #e2e2e22f;
  color: #e2e2e2;
  border: none;
  font-weight: 500;
}
.updateBtn {
  border-bottom: 1px solid #e2e2e252;
  border-top: 1px solid #e2e2e24d;
}
.h3,
.p {
  margin: 10px 10px;
}
.h3 {
  margin-bottom: 3px;
}
.description {
  margin: 10px 10px;

  color: #e2e2e28b;
}

#closeBtn {
  width: auto;
  height: auto;
  padding: 10px 10px;
  background: transparent;
  border: none;
  color: #e2e2e2;
  font-size: 19px;
  font-weight: 600;
}
#taskFormHeader {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
  padding: 20px;
}
#taskFormHeader h1 {
  width: 85%;
}
#newTaskBtnDiv {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 50;
  background: transparent;
}
#newTaskBtnDiv button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #e2e2e2;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
}
.popupInp,
#taskStatus {
  width: auto;
  padding: 10px 10px;
  height: auto;
  border: 3px double #161b225e;
  border-radius: 5px;
}
#saveChanges {
  width: auto;
  height: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #161b22;
  color: #e2e2e2;
}
